* text=auto eol=lf

*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.nodes text eol=lf
*.tensors text eol=lf
*.values text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.onnx binary
*.safetensors binary
*.bin binary
